*{
    margin: 0.2px;
}
.nav_bar{
    position: relative;
    width: 100%;
    height: 35px;
    margin:0%;
    background-color:powderblue;
}
.nav_bar ul {
    text-align: right;
    word-spacing: 12px;
}
.nav_bar li{
    text-transform: capitalize;
    letter-spacing: .967px;
    list-style-type: none;   
    display: inline-block;
}
.nav_bar a{
    padding: 4px 0px 4px 0px;
    text-decoration: none;
}
.nav_bar ul :hover{
    position: relative;
    margin: 0%;
    padding: 9px;
    color: aqua;
    background-color: azure;
}
.second_line{
    position: relative;
    margin-top: 2.9%;
    background-color: powderblue;
    width: 100%;
    height: 350px;
}
.left{
    position: absolute;
    top: 15%;
    margin-left: 2%;
    background-color: rgb(226, 219, 215);
    width: 25%;
    height: 66%;
}
.center{
    position: absolute;
    top: 15%;
    background-color: rgb(226, 219, 215);
    width: 25%;
    height: 66%;
    margin-left: 32%;
}
.right{
    position: absolute;
    top: 15%;
    margin-left: 64%;
    background-color :rgb(226, 219, 215);
    width: 25%;
    height: 66%;
}
.imgs_dim{
    position: absolute;
    margin-top: 5%;
    margin-left: 9%;
    width: 85%;
    height: 87%;
}
.brandName{
    position: absolute;
    margin-left: 36%;
    top: 93%;
    color: black;
    font-weight: bold;
}
.foot{
    position: relative;
    width: 100%;
    height: 150px;
    margin-top: 0.8%;
    background-color: palegoldenrod;
}
.foot h2 {
    position: absolute;
    margin-top: 3.5%;
    margin-left: 25px;
    text-align: left;
    text-transform: capitalize;
    word-spacing: 6px;
    width: 100%;
}
.foot_logos{
    margin: auto 0 auto 0 ; 
    width: 100%;
}

.foot_logos a{
    color: black;
    position: relative;
    text-decoration: none;
    top: 53px;
}
.foot_logos li{
    display: inline-block;
    
}
.foot_logos :hover{
    color: wheat;
    background-color: thistle;
    margin : 0;
    padding: auto 1px auto 1px;
}